* {
    color: white;
}

main {
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    width: 300px;
    height: 340px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
}
.movie-img {
    padding: 6px;
    width: 90%;
    height: 60%;
    border-radius: 4px;
}
.title-rating {
    margin: unset;
}
i {
    cursor: pointer;
}