
main {
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  width: 300px;
  height: 440px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
}

.movie-img {
  padding: 6px;
  width: 90%;
  height: 60%;
  border-radius: 4px;
}

.title-rating {
  margin: unset;
}

.like-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
i {
  cursor: pointer;
  color: red;
}
i:hover {
    opacity: 0.6;
}



.output {
    overflow: auto;
    height: 300px;
}
.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }


/* // loading styling  */
.loading {
    width: 160px;
    height: 160px;
    border-radius: 150px;
    border: 15px solid red;
    border-top-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -80px;
    animation: loading 1.2s linear infinite;
    z-index: 999999999;
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .mask {
    background: rgba(0, 0, 0, 0.918);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 99999999;
  }
  